body {
    background:url(../images/dark-triangles.png);
}
.crystals {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-center, {
    background-color:#F8B742;
}

#random {
    background-color: #D47D21;
    color: #071A2B;
}